@{
    ViewBag.Title = "首页";
}
<style>
    .wen14hei {
        color: #333333;
        font-size: 14px;
        line-height: 24px;
    }
</style>
<table width="97%" height="562" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height="502" valign="top">
            <table width="739" height="29" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="29">
                        <p align="left" class="wen14hei">　　上海赛迩福电力技术有限公司成立于2005年，是从事电力设备的研发和销售于一体的现代化高科技企业。自主研发的产品有：凝汽器蒸汽喷射真空系统、凝结水除铁过滤系统。公司致力于电力行业节能减排技术的研发与应用，经过十年的不断创新，至今已获得9项国家专利证书。凝汽器蒸汽喷射真空系统成功运用于发电厂，并获得了发电行业的高度认可。公司“以匠心，铸未来”的核心价值观，创建独特的企业文化和品牌，采用新型的内部合伙人管理制，与上海电力学院合作成立“工程技术联合研发中心”，立志在电力海洋中乘风破浪，成为行业中的中流砥柱。</p>
                    </td>
                </tr>

            </table>
            <table width="721" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="157" rowspan="5"><img src="~/Images/logo.jpg" width="129" height="104" /></td>
                    <td width="577" height="30" class="wen14hei">　　SURFER意为冲浪者。浅蓝色和深蓝色图标是抽象的漩涡，并象征英文字母e，意为</td>
                </tr>
                <tr>
                    <td height="30" class="wen14hei">electric，电力。寓意公司业务领域为电力行业。</td>
                </tr>
                <tr>
                    <td height="30" class="wen14hei">　　作为SURFER公司中的每个成员，都具有冲浪者迎风破浪不畏艰险的拼搏进取精神。</td>
                </tr>
                <tr>
                    <td height="30" class="wen14hei">在如大海般浩瀚广博，壮美无垠，且充满机遇与挑战的事业生涯中勇于开拓，敢于担当，</td>
                </tr>
                <tr>
                    <td height="30" class="wen14hei">不断争创辉煌佳绩，踏上人生和事业的一个个潮头。</td>
                </tr>

            </table>
        </td>
    </tr>
</table>