<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="@Url.Action("Index","Project")" class="dropdown-toggle" data-toggle="dropdown">
            项目管理<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">test1</a></li>
            <li><a href="#">test2</a></li>
            <li><a href="#">test3</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="@Url.Action("About","Home")" class="dropdown-toggle" data-toggle="dropdown">
            人员管理<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">test1</a></li>
            <li><a href="#">test2</a></li>
            <li><a href="#">test3</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="@Url.Action("Contact","Home")" class="dropdown-toggle" data-toggle="dropdown">
            财务管理<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">test1</a></li>
            <li><a href="#">test2</a></li>
            <li><a href="#">test3</a></li>
        </ul>
    </li>
</ul>